.App{
    align-items: center;
    display: flex;
    box-sizing: border-box;
    overflow: auto;
    background-color: #72527A;
    background-image: url("images/designs/app_background.svg");
    background-attachment: fixed;
    background-size: cover;
}

.feed{
    position: relative;
    width: 50%;
    height: 98vh;
}


.webcam{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scaleX(-1);
    z-index: 1;
    width: 640px;
    height: 480px;
    border-radius: 20px;
}


/* base sa source code, dapat ba lower value ng canvass sa webcam? */
.canvas{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scaleX(-1);
    z-index: 2;
    width: 640px;
    height: 480px;
    border: 2px solid whitesmoke;
    border-radius: 20px;
}

.detect_feed{
    position: relative;
    top: 85%; /* adjust this value to align the sample element below the webcam and canvas */
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    background-image: url("images/designs/endless-constellation.svg");
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 25%;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.3),
                inset 0 -2px 3px rgba(0, 0, 0, 0.3);
}

.detect_feed_disabled{
    position: relative;
    top: 85%; /* adjust this value to align the sample element below the webcam and canvas */
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    background-image: url("images/designs/endless-constellation_gray.svg");
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 25%;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.3),
                inset 0 -2px 3px rgba(0, 0, 0, 0.3);
}

.details{
    width: 50%; 
    /* height: 98vh; */
    text-align: center;
}

.detailsheader{
    margin-top: 10px;  
    display: inline-block;
    width: 90%;
    background-color: #b8c0ff;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    color: whitesmoke;
    background-color: #330033;
    background-image: url("images/designs/endless-constellation.svg");
    
}

.headertext{
    text-align: center;
    font-family: Georgia;
}

.signDetected{
    margin-top: 10px;
    display: inline-block;
    width: 90%;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    background-color: #330033;
    background-image: url("images/designs/endless-constellation.svg");
    color: whitesmoke;
}

.tutorials{
    margin-top: 10px;
    display: inline-block;
    width: 90%;
    background-color: #CC5577;
    border: 2px solid whitesmoke;
    border-radius: 20px;
}

.quiz{
    margin-top: 10px;
    display: inline-block;
    width: 90%;
    background-color: #CC5577;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    overflow: auto;
}

.quizdefault{
    margin-top: 10px;
    display: inline-block;
    width: 90%;
    background-color: #CC5577;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    overflow: auto;
}

.quizbutton{
    margin-right: 10px;
    margin-bottom: 10px;
    float: right;
    border-radius: 20px;
    background-image: url("images/designs/endless-constellation.svg");
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 80%;
    margin: 6px 8px;
    cursor: pointer;
    box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.3),
                inset 0 -2px 3px rgba(0, 0, 0, 0.3);
}

.quizstartbutton{
    float: right;
    width: 15%;
    height: 90%;
    font-size: 50%;
    margin-right: 5px;
    border-radius: 20px;
    background-image: url("images/designs/endless-constellation.svg");
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 80%;
    margin: 6px 8px;
    cursor: pointer;
    box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.3),
                inset 0 -2px 3px rgba(0, 0, 0, 0.3);
    
}



.image{
    width: 80%;
    height: 80%;
}

.tutorial_button:hover{
    background-color: #72527A;
}


.changeModeButton{
    position: relative;
    top: 85%;
    background-image: url("images/designs/endless-constellation.svg");
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 25%;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.3),
                inset 0 -2px 3px rgba(0, 0, 0, 0.3);
    
}
